---
import Layout from "../../layouts/Layout.astro"
---
<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h1 class="text-5xl font-bold my-5"> About us</h1>

  <p class="text-zinc-300"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam ipsum ipsam ut vitae illum accusamus earum, aliquid corporis ducimus, molestiae nisi, saepe natus sit facilis itaque qui quas sequi?</p>
</section>