
<header class="bg-zinc-900 flex p-20 gap-3">
  <div>
    <h1 class="text-5xl font-bold"> Protect your passowrd  </h1>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio eveniet tempore molestiae ipsam cupiditate atque architecto alias. Explicabo quibusdam necessitatibus culpa obcaecati voluptates commodi perspiciatis. Labore molestiae quis minus eius! </p>

    <button class="rounded-sm bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
      Start now
    </button>
  </div>

  <img src="images/fingerprint.svg" alt="" class="w-80">
</header>
