
<header class="bg-zinc-900 flex flex-col md:flex-row text-justify md:text-left
 p-20 gap-3 rounded-xl">
  <div>
    <h1 class="text-5xl font-bold pb-2"> Protect your passowrd  </h1>
    <p class="my-4 text-md"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolorum quibusdam dolorem soluta nam, alias consectetur facere sunt modi quisquam quod repudiandae animi numquam deserunt qui tempora id asperiores sed. </p>

    <button class="rounded-sm bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
      Start now
    </button>
  </div>

  <img src="images/fingerprint.svg" alt="" class="w-80">
</header>
